@page "/OwnTopicList"
@model Web_Forum.Views.Home.TopicPage.OwnTopicList
@{
    ViewData["Title"] = "Index";
}

<h1>Own Topics</h1>


<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Content
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Topics != null) {
            foreach(var topic in Model.Topics)
            {
                <tr>
                    <td width="20%">
                        @topic.title
                    </td>
                    <td width="40%">
                        @topic.content
                    </td>
                    <td width="20%">
                        <form method="get" asp-page="./AddTopic">
                            <input type="hidden" name="id" value="@topic.id" />
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </td>
                    <td width="20%">
                        <form id="OnDelete" method="post">
                            <input type="hidden" name="id" value="@topic.id" />
                            <a class="btn btn-primary" role="button"
                               onclick="DisplayConfirmDeleteModal('@topic.id')">
                                Delete
                            </a>
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    <button class="btn btn-primary" onclick="location.href='./AddTopic'">Add topic</button>
</div>

<div id="deleteModal" class="modal fade" role='dialog'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-warning" style="padding:5px;">
                <h4 class="modal-title">Confirm Delete </h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="TopicIdToDelete" class="form-control" />
                <p>Do You really want to delete this topic ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Cancel</button>
                <button type="button" class="btn btn-danger" id="btnDelete"><i class="bi bi-x"></i> Delete </button>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnDelete").on("click", function () {
                let topicId = $("#TopicIdToDelete").val();
                let UrlHandler = "/OwnTopicList/?handler=Delete";
                $.ajax({
                    url: UrlHandler,
                    type: 'GET',
                    data: { id: topicId },
                    success: function (data) {
                        if (data === "ok") {
                            $("#deleteModal").modal('hide');
                            window.location.reload();
                        }
                        window.location.reload();

                    }
                });
            });
        });

        function DisplayConfirmDeleteModal(topicId) {
            $("#TopicIdToDelete").val(topicId);
            $("#deleteModal").modal('show');
        }
    </script>
}


